VITAP/GSA.R7BD.Utility/Service References/IImageNowService/ImageNowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageNowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IImageNowService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageNowService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IImageNowService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IImageNowService_INDocCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:INDocCopy" />
  </wsdl:message>
  <wsdl:message name="IImageNowService_INDocCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:INDocCopyResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageNowService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageNowService/SayHello" message="tns:IImageNowService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageNowService/SayHelloResponse" message="tns:IImageNowService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="INDocCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageNowService/INDocCopy" message="tns:IImageNowService_INDocCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageNowService/INDocCopyResponse" message="tns:IImageNowService_INDocCopy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageNowService" type="tns:IImageNowService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IImageNowService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IImageNowService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INDocCopy">
      <soap:operation soapAction="http://tempuri.org/IImageNowService/INDocCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageNowService">
    <wsdl:port name="BasicHttpBinding_IImageNowService" binding="tns:BasicHttpBinding_IImageNowService">
      <soap:address location="https://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IImageNowService" binding="i0:MetadataExchangeHttpBinding_IImageNowService">
      <soap12:address location="http://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://b07r7s-iisdv31/GSAImageNowService/ImageNowService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>