VITAP/GSA.R7BD.Utility/Service References/srDBPassword/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://b07r7s-iisdv31/EncServ/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://b07r7s-iisdv31/EncServ/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getErrorDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getErrorDetails" />
  </wsdl:message>
  <wsdl:message name="IService_getErrorDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getErrorDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AESDecryptWebM_InputMessage">
    <wsdl:part name="parameters" element="tns:AESDecryptWebM" />
  </wsdl:message>
  <wsdl:message name="IService_AESDecryptWebM_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESDecryptWebMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AESDecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:AESDecrypt" />
  </wsdl:message>
  <wsdl:message name="IService_AESDecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESDecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AESEncryptWebM_InputMessage">
    <wsdl:part name="parameters" element="tns:AESEncryptWebM" />
  </wsdl:message>
  <wsdl:message name="IService_AESEncryptWebM_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESEncryptWebMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AESEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:AESEncrypt" />
  </wsdl:message>
  <wsdl:message name="IService_AESEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESEncryptResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getErrorDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getErrorDetails" message="tns:IService_getErrorDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getErrorDetailsResponse" message="tns:IService_getErrorDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESDecryptWebM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AESDecryptWebM" message="tns:IService_AESDecryptWebM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AESDecryptWebMResponse" message="tns:IService_AESDecryptWebM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESDecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AESDecrypt" message="tns:IService_AESDecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AESDecryptResponse" message="tns:IService_AESDecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESEncryptWebM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AESEncryptWebM" message="tns:IService_AESEncryptWebM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AESEncryptWebMResponse" message="tns:IService_AESEncryptWebM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AESEncrypt" message="tns:IService_AESEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AESEncryptResponse" message="tns:IService_AESEncrypt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getErrorDetails">
      <soap:operation soapAction="http://tempuri.org/IService/getErrorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESDecryptWebM">
      <soap:operation soapAction="http://tempuri.org/IService/AESDecryptWebM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESDecrypt">
      <soap:operation soapAction="http://tempuri.org/IService/AESDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESEncryptWebM">
      <soap:operation soapAction="http://tempuri.org/IService/AESEncryptWebM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESEncrypt">
      <soap:operation soapAction="http://tempuri.org/IService/AESEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="https://localhost/EncServ/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>