VITAP/GSA.R7BD.Utility/Service References/srDBPassword/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthrizationString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getErrorDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getErrorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getErrorDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESDecryptWebM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthrizationString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESDecryptWebMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AESDecryptWebMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESDecrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthrizationString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESDecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AESDecryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESEncryptWebM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthrizationString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESEncryptWebMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AESEncryptWebMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESEncrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XMLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthrizationString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AESEncryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AESEncryptResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>